*.o
*.lo
Makefile
Makefile.in
_configs.sed
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
missing
autom4te.cache/
confdb/ar-lib
confdb/compile
confdb/config.guess
confdb/config.sub
confdb/depcomp
confdb/install-sh
confdb/libtool.m4
confdb/ltmain.sh
confdb/ltoptions.m4
confdb/ltsugar.m4
confdb/ltversion.m4
confdb/lt~obsolete.m4
confdb/missing
confdb/test-driver
config.h
config.log
config.status
configure
libtool
.deps/
.libs/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/libfgmpi.la
src/.libs
src/.deps
src/hash/.dirstamp
src/hash/.libs
src/hash/.deps
src/stack/.dirstamp
src/stack/.libs
src/stack/.deps
src/util/.dirstamp
src/util/.libs
src/util/.deps
stamp-h1
